@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/*
light:#FFEFE5;
primary:#ffbd59;
solid:#ff914d;
shadow:#CC743D;
*/

* {
	box-sizing: border-box;
}
body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	color:#333;
}

nav {
	width:100%;
	background: #FFEFE5;
}
nav ul {
	list-style-type:none;
	padding:0;
	margin:0;
	text-align: right;
	padding:0 1rem;
}
.nav-item {
	display: inline-block;
	padding:0 1rem;
}
	.nav-item a {
		display: inline-block;
		padding:2rem 0 0.5rem 0;
		text-decoration: none;
		color:#333;
		font-weight: bold;
		border-bottom:3px solid transparent;
		opacity:0.9;
	}
	.nav-item a:hover {
		opacity:1;
		border-bottom:3px solid #333;
		transition:1s border;
	}


#land {
	width:100%;
	margin:0;
	background:#FFEFE5;
	margin-bottom:2rem;
}
#land .container {
	display:flex;
}
	#land .land-image-box {
		display: flex;
		align-items: center;
	}
	#land img {
		width:100%;
		padding:0 1rem;
		object-fit:contain;
	}
	#land .container > div {
		width:50%;
		padding:4rem 2rem;
	}
	#land h1 {
		font-weight: bold;
		margin:0;
	}
	#land h2 {
		color:#777;
		font-size:1.2rem;
		font-weight:normal;
	}

.container-out {
	padding:2rem 0;
}
.container {
	max-width:736px;
	margin:0 auto;
}

#about {
	
}

.container-out-dark {
	background:#333;
	color:white;
}
.container-out-dark h1 {
	color:white;
}


#footer {
	width: 100%;
	margin-top:2rem;
	text-align: center;
	background: #FFEFE5;
	padding:1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
#footer img {
	width:6rem;
}
#footer p {
	display: inline-block;
	vertical-align: middle;
	font-size:0.8rem;
	margin-left:1rem;
	font-weight: bold;
	color:#333;
}

.row {
	display: flex;
	margin-bottom:2rem;
}
.row-1 {
	flex-wrap: wrap;
	flex-direction: column;
}
.row-1 > div {
	margin:1rem 0rem;
	width:100%;
}
.num-card-item {
	background:white;
	display:flex;
	align-items: center;
}
	.num-card-item .num-disp {
		position: absolute;
		text-align:center;
		background:#ff914d;
		width:3rem;
		height:3rem;
		margin:0;
		padding:1rem;
		border-radius:1.5rem;
	}
	.num-disp h3 {
		line-height:1rem;
		margin:0;
		color:white;
	}
	.num-card-item p {
		padding-left:4rem;
		margin:0;
	}


.table {
	border-collapse: collapse;
	margin:1rem 0;
}
.table tr {
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
}
.table tr:last-child {
	border-bottom:3px solid #EEE;
}
.table td {
	padding:0 2rem;
}
.table th {
	padding:0 1rem;
	text-align: left;
	width:30%;
}
.table ul {
	padding-left:1rem;
}
	.table li {
		padding-left:1rem;
	}


.button {
	display: inline-block;
	padding:10px 15px;
	border-radius:10px;
	background: #ff914d;
	color:white;
	border:none;
	font-weight:bold;
	font-size:1.2rem;
	border-bottom:5px solid #CC743D;
	margin:1rem 0;
	text-decoration: none;
}
.but-center {
	text-align: center;
}

.person {
	padding:2rem;
	display:flex;
	align-items: center;
}
.person > img {
	width:30%;
	height:100%;
	object-fit: contain;
}
.person .bio {
	width:70%;
	padding-left:1rem;
}
.person .bio p {
	font-size:0.9rem;
}

.placeholder-image {
	width:300px;
	height:100%;
	background:green;
}
.slick-next:before {
	color:#ff914d;
}
.slick-prev:before {
	color:#ff914d;
}

@media all and (max-width: 1280px) { 

	
}
@media all and (max-width: 980px) { 
	.container-out {
		padding:2rem 0;
	}
	.container {
		margin:0 5rem;
	}
	.table th {
		width:20%;
	}
}
@media all and (max-width: 736px) { 
	.container-out {
		padding:1rem 0;
	}
	.container {
		margin:0 3rem;
	}
	.table {
		min-width:500px;
	}
	.table-scroll {
		overflow-x:auto;
	}
}
@media all and (max-width: 480px) { 

	.container {
		margin:0 1rem;
	}
}